*{
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
    width: 100%;
    background-color:#1b2838 ;
}
body{
    background-color: #1b2838;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #1b2838;
}
.logoaccueil{
    display: flex;
    justify-content: center;
    margin-top: -8%;
}
.dropbutton{
    background-color: #2a475e;
    opacity: 0.9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* margin-left: 5%; */
}
.drop{
    position: relative;
    display: inline-block;
}
.drop a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.container-button{
    display: none;
    position: absolute;
    background-color: #2a475e;
    opacity: 0.9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #2a475e;
    z-index: 1;
    /* margin-left: 5%; */
}
.drop:hover .container-button {
    display: block;
}
img{
    width: 70%;
    height: 90%px;
}
footer{
    height: 120px;
    width: 100%;
    background-color: #2a475e;
}
/* ---------------------------------------------------------------formulaire inscription et connexion profil------------------------------------------- */
#inscription,#connexion,#profil{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#formInscription,#formConnexion,#formProfil{
    background-color:#2a475e ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40vh;
}
#formInscription input,#formConnexion input{
   margin-top: 3%;
   width: 50%;
   height: 25px;
}
#erreurLogin,#erreurEmail,#erreurPassword,#erreurVpass{
    color: red;
}
.formchat{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.formchat #sendChat{
    width: 87.5%;
}

/* ---------------------------------------------------------- CHAT----------------------------------------------------------------- */
#mainChat{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#chat{
    height: 80vh;
    width: 70%;
    background-color: #c7d5e0;
    overflow:scroll;
}
#userChat{
    width: 80%;
    margin-left:10%;
    display: flex;
    justify-content: center;
}
#textChat{
    height: 50px;
    width: 87.5%;
    resize: none;
}

p{
    margin-top: 1%;
    color: black;
}

/* -----------------------------------------------------MODAL PROFIL---------------------------------------------------- */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 20vh;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .modal-content h2{
    text-align: center;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #updatepassword{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  #updatepassword input{
      margin-top: 2%;
  }
  table,
td {
    border: 1px solid white;
}
th{
    color: black;
}
td{
    color: white;
}
thead,
tfoot {
    background-color: white;
    color: #fff;
}
#creerCanal{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
#tableauAdmin{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}
#tableauAdmin table{
    margin: 5%;
}